rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /posts/{postId} {
      allow read, create: if isLogin()
      allow delete: if isLogin() && request.auth.uid == get(request.path).data.uid
    }
  }
  function isLogin(){
    return request.auth.uid != null
  }
}

//write

// rules_version = '2';
// service cloud.firestore {
//   match /databases/{database}/documents {
//     match /posts/{postId} {
  //     allow read, create: if isLogin()
  //     allow delete: if isLogin() && request.auth.uid == get(request.path).data.uid
  //   }
  // }
  // function isLogin(){
  //   return request.auth.uid != null
  // }
// }