$color-bg-main: #ffffff;
$color-bg-sub: #fafafa;
$color-primary: #ffc5e2;
$color-primary-lighten: lighten($color-primary, 5%);
$color-secondary: #ffda74;
$color-font: #6c5558;
$header-height: 64px;
$form-height: 96px;
